<!DOCTYPE html>
<html>
<head>
    <title>Reset your password</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<form>
    <label>
        Password:
        <input id="pass" type="password" onchange=""/>
    </label>
    <label>
        Repeat password:
        <input id="repeatPass" type="password" onchange=""/>
    </label>
    <button type="submit" id="resetPassBtn">Reset Password</button>
</form>

<script>

    const pass = document.getElementById('pass');
    const repeatPass = document.getElementById('repeatPass');

    const resetPassBtn = document.getElementById('resetPassBtn');
    resetPassBtn.onclick = async (e) => {
        e.preventDefault();
        if (pass.value !== repeatPass.value || pass.value.length < 1) {
            console.log('Password are not equal')
            return;
        }

        const response = await fetch('/api/auth/password-reset/<%= token %>',
            {
                method: 'POST',
                body: JSON.stringify({newPassword: pass.value}),
                headers: {
                    'Content-type': 'application/json'
                }
            })

        if (response.ok) {
            console.log('Password changed');
        }

    }


</script>

</body>
</html>

